.wrapper {
  width: 90%;
  margin: auto;
  padding-top: 100px;




  & .btn-group {
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    margin-top: 20px;

    & button {
      background: #27070b;
      color: white;
      padding: 15px;
      font-size: 12px;
      border-radius: 15px;
      border: none;
      max-width: 100px;
      width: 100%;
      cursor: pointer;
    }
  }
}


.content {

  display: flex;

  @media(max-width: 768px) {
    flex-direction: column;
  }

  &__left,
  &__right {
    flex-basis: 50%;
  }

  &__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }

  &__right {
    width: 50%;
    text-align: center;
    position: fixed;
    right: 15px;
    top: 30%;

    @media(max-width: 768px) {
      width: 100%;
      position: static;
      text-align: center;
      order: -1;
      margin-bottom: 20px;
    }
  }
}

.search__block {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  & input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 12px;
    background: #27070b;
    color: white;
    width: 30%;

    @media(max-width: 768px) {
      width: max-content;
    }
  }
}